{% extends "base.html" %}
{% block title%}Paws{% endblock %}
{% block content %}
<section style="background: linear-gradient(to right, rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.60)),url(https://cdn.wallpapersafari.com/75/43/6LsvWx.jpg)">
  <article class="home" id="home">
    <div class="home-content">
      <div class="home-text">
        <h1 class="text-one" style="font-family: 'Roboto Slab', 'Times New Roman', serif; font-size: 50px; font-weight: 700;">Adopt a dog </h1>
        <h4 class="text-two" style="font-family: 'Roboto';font-weight: 500; font-size: 40px;">Get a friend for life! </h4>
      </div>
      <button type="button" class="btn btn-primary" style="background-color: #643820; border-color: #643820;"><a href="#" style="text-decoration: none;">Adopt Now!</a></button>
      <iframe height="480" width="500" src="https://www.youtube.com/embed/Gk8e3Lg5GFU"></iframe>
    </div>
  </article>
</section>
{% endblock content %}
