{% extends "Pet/navbar.html" %}
{% block content %}
<div class="del">
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Delete Pet</legend>
            <h4>Are you sure you want to delete the pet "{{ pet.pet_name}}"</h4>
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-danger" type="submit">Yes, Delete</button>
            <a class="btn btn-outline-secondary" href="{% url 'pet_profile' object.id %}">Cancel</a>
        </div>
    </form>
</div>
</div>
<style>
    .del{
        margin: 9%;
    }
</style>
{% endblock content %}